<h1>Our Little Calculator</h1>

<p>Our little calculator has an infinite number of resources available for you:</p>

<p>The resources all live at addresses according to the following scheme:</p>

<ul>
  <li>The square of a particular NUMBER lives at the URL <code>/square/NUMBER</code></li>
  <li>The square root of a particular NUMBER lives at the URL <code>/square_root/NUMBER</code></li>
  <li>
    The size of a monthly loan payment, given an annual interest rate, a total number of payments, and a principal amount, lives at the URL
    <pre>/payment/INTEREST_RATE/NUMBER_OF_PAYMENTS/PRINCIPAL_VALUE</pre>
  </li>
</ul>

Unfortunately, our calculator is not very smart yet and all of these numbers can only be integers. Sorry and thank you!

